<!-- <h1>{{title}}</h1>

<app-counter></app-counter>
<app-heroes-hero></app-heroes-hero>
<app-heroes-list></app-heroes-list> -->


<!-- <app-dbz-main-page></app-dbz-main-page> -->
<!-- <dbz-list><dbz-list> -->
<!-- <app-dbz-add></app-dbz-add> -->
<!-- <dbz-add-character></dbz-add-character> -->

<!-- <h1>DBZ Personajes</h1>
<hr>
<div class="row">
  <div class="col">
    <dbz-list></dbz-list>
  </div>
  <div class="col">
    <dbz-add-character></dbz-add-character>
  </div>
</div> -->

<app-dbz-main-page></app-dbz-main-page>
